switchyard-seminar-09/src/main/resources/ShipmentServiceUnwrapped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ShipmentService" targetNamespace="urn:switchyard-seminar:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:switchyard-seminar:1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:switchyard-seminar:1.0" targetNamespace="urn:switchyard-seminar:1.0" version="1.0">
<xs:element name="address" type="tns:address"/>
<xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="delivery">
    <wsdl:part name="arg0" element="tns:address">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ShipmentServicePortType">
    <wsdl:operation name="delivery">
      <wsdl:input name="delivery" message="tns:delivery">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShipmentServiceSoapBinding" type="tns:ShipmentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="delivery">
      <soap:operation soapAction="delivery" style="document"/>
      <wsdl:input name="delivery">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShipmentService">
    <wsdl:port name="ShipmentServicePort" binding="tns:ShipmentServiceSoapBinding">
      <soap:address location="http://localhost:8080/switchyard-seminar/ShipmentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
